.fa-facebook-official{
  color: black;
  font-size: 10em;
  &:hover{
    color: white;
  }
}
.fa-external-link{
  color: black;
  &:hover{
    color: white;
  }
}
.fa-instagram{
  color: black;
  &:hover{
    color: white;
  }
}
.fa-twitter-square{
  color: black;
  &:hover{
    color: white;
  }
}
body{
  background: #003249;
}
.club-panel{
  display: inline-flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100vh;
  background: white;
  .upcoming-events{
    background: #003249;
    margin-bottom: 20px;
    width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    .header{
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      background: #003249;
      button{
        position: absolute;
        left: 31%;
        height: 20px;
        border: none;
        border-radius: 6px;
        line-height: 2px;
        padding: 16px;
        font-weight: 700;
        font-family: "Liberation sans", sans;
        color: #003249;
        z-index: 0;
        &:hover{
          background: #888888;
        }
      }
    }
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: darkgrey;
      height: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    h3{
      margin-left: 15px;
      margin-right: 150px;
      font-size: 27px;
      color: white;
    }
    .events{
      display: inline-flex;
      margin: 0px 0px 20px 15px;
      background-color: white;
      border-radius: 6px;
      height: 105px;
      width: 90%;
      overflow-x: hidden;
      overflow-y: scroll;
      color: #003249;
      /* width */
      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: darkgrey;
        height: 20px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      img{
        display: flex;
        background: darkgrey;
        height: 75px;
        width: 75px;
        padding: 0px 10px;
        margin: 10px 10px;
      }
      .profile-info{
        display: flex;
        flex-direction: column;
        background: white;
        justify-content: left;
        .specific-info{
          display: flex;
          flex-direction: row;
        }
      }
      h4{
        display: flex;
        padding: 10px 0px 10px 0px;
        margin: 0px 0px 10px 0px;
        border-bottom: solid #498C8A 3px;
        color: #003249;
      }
      h5{
        display: flex;
        margin: 0px 20px 10px 0px;
        color: #003249;
      }
      p{
        display: flex;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
        color: #003249;
      }
    }
  }
  .club-panel-info{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .club-profile-panel{
      display: flex;
      justify-content: center;
      background-image: url("images/adv_img.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      height: 371px;
      border-radius: 6px;
      button{
        position: absolute;
        top: 87px;
        right: 10px;
        height: 20px;
        border: none;
        border-radius: 6px;
        line-height: 2px;
        padding: 16px;
        font-weight: 700;
        font-family: "Liberation sans", sans;
        color: #003249;
        &:hover{
          background: #888888;
        }
      }
      h3{
        display: flex;
        align-items: center;
        text-align: center;
        width: 80%;
        background: white;
        font-size: 70px;
        font-weight: 700;
      }
    }
    .club-profile-info{
      display: flex;
      width: 100%;
      background: grey;
      h4{
        display: flex;
        margin: 0px;
        padding: 15px 0px;
        font-size: 30px;
      }
      .about{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0px 15px 0px 15px;
        border-right: 10px solid white;
        height: 380px;
        p{
          margin: 0px;
        }
      }
      .specifics{
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 0px 15px 0px 15px;
        margin: 0px;
        ul{
          padding: 0px;
          list-style: none;
        }
        ul.social-media{
          display: inline-block;
          font-size: 40px;
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}