.fa-facebook-official {
  color: #003249;

  &:hover {
    color: #498C8A;
  }
}

.fa-times-circle {
  color: red;
  size: 20em;
}

.fa-external-link {
  color: #003249;

  &:hover {
    color: #498C8A;
  }
}

.fa-instagram {
  color: #003249;

  &:hover {
    color: #498C8A;
  }
}

.fa-twitter-square {
  color: #003249;

  &:hover {
    color: #498C8A;
  }
}

i.fa.fa-map-pin {
  color: #003249;
  padding-right: 11px;
}

i.fa.fa-clock-o {
  color: #003249;
  padding-right: 6px;
}

i.fa.fa-calendar {
  color: #003249;
  padding-right: 5px;
}

body {
  background: #003249;
}

.club-panel {
  display: inline-flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100vh;
  background: #003249;

  .fa-asterisk {
    font-size: 0.5em;
  }

  .upcoming-events {
    background: #003249;
    margin-bottom: 20px;
    width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;

    p{
      padding: 0px;
      margin: 0px 0px 0px 20px;
      color: white;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      background: #003249;


      button {
        display: flex;
        position: absolute;
        left: 31%;
        height: 20px;
        border: none;
        border-radius: 6px;
        line-height: 2px;
        padding: 16px;
        font-weight: 700;
        font-family: "Liberation sans", sans;
        color: #003249;
        z-index: 0;

        &:hover {
          background: #888888;
        }
      }
    }

    /* width */

    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }

    /* Handle */

    &::-webkit-scrollbar-thumb {
      background: darkgrey;
      height: 20px;
    }

    /* Handle on hover */

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    h3 {
      margin-left: 15px;
      margin-right: 150px;
      font-size: 27px;
      color: white;
    }

    .events {
      display: inline-flex;
      margin: 0px 0px 20px 15px;
      background-color: white;
      border-radius: 6px;
      height: 105px;
      width: 90%;
      overflow-x: hidden;
      overflow-y: scroll;
      color: #003249;

      button {
        display: flex;
        position: relative;
        margin-top: -48px;
        margin-bottom: 12px;
        margin-left: 220px;
        width: 52px;
        height: 20px;
        border: none;
        border-radius: 6px;
        line-height: 2px;
        padding: 16px;
        font-weight: 700;
        font-family: "Liberation sans", sans;
        color: #003249;

        &:hover {
          background: #888888;
        }
      }

      #delete-btn {
        padding: 16px 16px 16px 23px;
        margin-top: -44px;
        margin-left: 275px;
        line-height: 3px;
        width: 73px;

        i {
          position: absolute;
          top: 11px;
          right: 55px;
        }
      }

      /* width */

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Handle */

      &::-webkit-scrollbar-thumb {
        background: darkgrey;
        height: 20px;
      }

      /* Handle on hover */

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      img {
        display: flex;
        background: darkgrey;
        height: 75px;
        width: 75px;
        padding: 0px 10px;
        margin: 10px 10px;
      }

      .profile-info {
        display: flex;
        flex-direction: column;
        background: white;
        justify-content: left;

        .specific-info {
          display: flex;
          flex-direction: row;
        }
      }

      h4 {
        display: flex;
        padding: 10px 0px 10px 0px;
        margin: 0px 0px 10px 0px;
        border-bottom: solid #498C8A 3px;
        color: #003249;
      }

      h5 {
        display: flex;
        margin: 0px 20px 10px 0px;
        color: #003249;
      }

      p {
        display: flex;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
        color: #003249;
      }
    }
  }

  .club-panel-info {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #99adb6;

    .exit{
      position: absolute;
      top: 65px;
      right: 5px;
      border-radius: 6px;
      width: 30px;
    }


    #add-panel {
      display: none;
      margin-left: 10px;
      .edit-event-add {
        .exit{
          position: absolute;
          top: 65px;
          right: 5px;
          border-radius: 6px;
          width: 30px;
        }

        h3 {
          margin-left: 0px;
          margin-bottom: 5px;
        }

        p {
          padding: 0px;
          margin: 0px 0px 10px 0px;
          font-size: 14px;
        }

        label {
          margin-top: 5px;
          padding-top: 5px;
          //margin-left: 20px;
        }

        input {
          border-radius: 6px;
          padding: 8px;
          width: 100%;
          margin-left: 10px;
          margin-bottom: 20px;
        }

        button {
          margin-left: 10px;
          border-radius: 6px;
          font-family: "Liberation sans";
          height: 30px;
          width: 88px;

          &:hover {
            background: slategrey;
          }
        }

        .nonrequired {
          margin-left: 11px;
        }
      }
    }

    #edit-panel {
      display: none;
      margin-left: 10px;
      .edit-event-edit {
        .exit{
          position: absolute;
          top: 65px;
          right: 5px;
          border-radius: 6px;
          width: 30px;
        }

        h3 {
          margin-left: 0px;
          margin-bottom: 5px;
        }

        p{
          padding: 0px;
          margin: 0px 0px 10px 0px;
          font-size: 14px;
        }

        label {
          margin-top: 5px;
          padding-top: 5px;
        }

        input {
          border-radius: 6px;
          padding: 8px;
          width: 100%;
          margin-left: 10px;
          margin-bottom: 20px;
        }

        button {
          margin-left: 0px;
          border-radius: 6px;
          font-family: "Liberation sans";
          height: 30px;

          &:hover {
            background: slategrey;
          }
        }
      }
      .nonrequired{
        margin-left: 11px;
      }
    }

    #login-panel {
      display: none;
      flex-direction: column;
      overflow: scroll;
      margin-left: 10px;
      .exit{
        position: absolute;
        top: 65px;
        right: 5px;
        border-radius: 6px;
        width: 30px;
      }
      /* width */

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Handle */

      &::-webkit-scrollbar-thumb {
        background: darkgrey;
        height: 20px;
      }

      /* Handle on hover */

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      #btn-del{
        background: red;
        opacity: 56%;
        margin-bottom: 10px;
        margin-left: 0px;
      }

      h3 {
        margin-left: 0px;
        margin-bottom: 5px;
      }

      p{
        padding: 0px;
        margin: 0px 0px 5px 0px;
        font-size: 14px;
      }

      label {
        margin-top: 5px;
        padding-top: 5px;
        //margin-left: 20px;
      }

      input {
        border-radius: 6px;
        padding: 8px;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 20px;
      }

      button {
        margin-left: 10px;
        border-radius: 6px;
        font-family: "Liberation sans";
        height: 30px;
        width: 88px;

        &:hover {
          background: slategrey;
        }
      }

      .nonrequired{
        margin-left: 11px;
      }
    }

    #club-profile-panel {
      display: flex;
      position: relative;
      justify-content: center;
      width: 100%;
      height: 100%;
      height: 371px;
      border-radius: 6px;

      button {
        position: absolute;
        top: 25px;
        right: 10px;
        height: 20px;
        border: none;
        border-radius: 6px;
        line-height: 2px;
        padding: 16px;
        font-weight: 700;
        font-family: "Liberation sans", sans;
        color: #003249;

        &:hover {
          background: #888888;
        }
      }

      img {
        display: flex;
        position: relative;
        width: 100%;
        opacity: 45%
      }

      h3 {
        display: flex;
        position: absolute;
        align-items: center;
        text-align: center;
        width: 80%;
        background: white;
        opacity: 0.88;
        border-radius: 6px;
        font-size: 70px;
        font-weight: 700;
      }
    }

    #club-profile-info {
      display: flex;
      width: 100%;
      background: white;

      h4 {
        display: flex;
        margin: 0px 0px 10px 0px;
        padding: 11px 0px 5px 0px;
        font-size: 30px;
        color: #003249;
        border-bottom: solid #498C8A 3px;
      }

      .about {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0px 30px 0px 15px;
        border-right: 10px solid white;
        height: 380px;

        p {
          margin: 0px;
        }
      }

      .specifics {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 0px 15px 0px 15px;
        margin: 0px;

        ul {
          margin: 0px 0px 10px 0px;
          padding: 0px;
          list-style: none;
        }

        ul.social-media {
          display: inline-block;
          font-size: 40px;
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}