i.fa.fa-map-pin {
  color: #003249;
  padding-right: 5px;
}

i.fa.fa-clock-o {
  color: #003249;
  padding-right: 5px;
}

i.fa.fa-calendar {
  color: #003249;
  padding-right: 5px;
}

.fa-times-circle {
  color: red;
  size: 20em;
}

body {
  background: #003249;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 387px;
  /* ADMIN: HERE IS WHERE YOU CAN EDIT THE HOMEPAGE IMAGE */
  background-image: url("./images/DSC_0586-background4.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;

  .txt-homepage {
    display: block;
    text-align: center;
    background: white;
    margin-top: 50px;
    border-radius: 6px;
    opacity: 88%;
    height: 200px;
    width: 480px;

    h3 {
      text-align: center;
      padding: 10px;
      margin: 0px;
      font-size: 25px;
    }

    p {
      font-size: 18px;
      margin: 0px;
      padding: 0px 30px 0px 30px;
    }
  }
}

.upcoming-events {
  background: #003249;
  margin-bottom: 20px;

  h3 {
    margin-left: 30px;
    font-size: 27px;
    color: white;
  }

  .events {
    display: inline-flex;
    margin: 0px 0px 20px 30px;
    background-color: white;
    border-radius: 6px;
    height: 168px;
    width: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* width */

    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }

    /* Handle */

    &::-webkit-scrollbar-thumb {
      background: darkgrey;
      height: 20px;
    }

    /* Handle on hover */

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    img {
      display: flex;
      background: darkgrey;
      height: 85px;
      width: 85px;
      margin: 10px 10px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      background: white;
      justify-content: left;

      .specific-info {
        display: flex;
        flex-direction: row;
      }

      .location-info {
        display: flex;
        flex-direction: row;

        #ride-share {
          display: flex;
          flex-direction: row;
          width: 97px;
          margin-top: -3px;
          padding-top: 2px;
          height: 22px;
          border-radius: 6px;
          font-family: "Liberation sans";

          &:hover {
            background: slategrey;
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }

    h4 {
      display: flex;
      padding: 10px 0px 10px 0px;
      margin: 0px 10px 10px 0px;
      border-bottom: solid #498C8A 3px;
      color: #003249;
    }

    h5 {
      display: flex;
      margin: 0px 20px 7px 0px;
      color: #003249;
    }

    p {
      display: flex;
      font-size: 14px;
      margin: 0px 10px 10px 0px;
      padding-bottom: 15px;
      color: #003249;
    }
  }
}

#ride-share-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */


  .modal-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 0px;
    height: 80%;
    width: 80%; /* Could be more or less, depending on screen size */

    .modal-cars {
      position: relative;
      width: 40%;
      height: 100%;
      background: #003249;
      overflow-x: hidden;
      overflow-y: scroll;
      /* width */

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Handle */

      &::-webkit-scrollbar-thumb {
        background: darkgrey;
        height: 20px;
      }

      /* Handle on hover */

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      #add-car{
        position: absolute;
        top: 0;
        right: 133px;
      }

      #request-car{
        position: absolute;
        top: 0px;
        right: 5px;
      }

      .car-title {
        display: flex;
        flex-direction: row;

        h3 {
          margin: 10px 3px 15px 10px;
          color: white;
        }

        button {
          display: flex;
          position: relative;
          height: 20px;
          border: none;
          //left: 60%;
          margin-top: 10px;
          border-radius: 6px;
          line-height: 2px;
          padding: 16px;
          font-weight: 700;
          font-family: "Liberation sans", sans;
          color: #003249;

          &:hover {
            background: #888888;
          }

          i {
            margin-right: 5px;
            line-height: 3px;
          }
        }
      }

      .cars {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0px 0px 20px 5px;
        padding-left: 5px;
        background-color: white;
        border-radius: 6px;
        height: 104px;
        width: 95%;
        overflow-x: hidden;
        overflow-y: scroll;
        /* width */

        &::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 6px;
        }

        /* Handle */

        &::-webkit-scrollbar-thumb {
          background: darkgrey;
          height: 20px;
        }

        /* Handle on hover */

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      h4 {
        margin: 5px 5px 5px 0px;
      }

      h5 {
        margin: 5px 5px 5px 0px;
      }

      .seat-title {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 5px;
        margin-bottom: 20px;
        width: 100%;

        h4 {
          margin: 5px 100px 5px 0px;
        }

        button {
          display: flex;
          position: absolute;
          height: 20px;
          top: 0px;
          right: 0px;
          min-width: 105px;
          margin-right: 3px;
          border: none;
          border-radius: 6px;
          line-height: 2px;
          padding: 16px;
          font-weight: 700;
          font-family: "Liberation sans", sans;
          color: #003249;

          &:hover {
            background: #888888;
          }

          i {
            margin-right: 5px;
            line-height: 3px;
          }
        }

        #reserve-seat{
          position: absolute;
          top: 0px;
          right: 100px
        }

        #delete-car{
          position: absolute;
          top: 0px;
          right: 5px;
          min-width: 94px;
        }




      }

      .car-logistics{
        position: absolute;
        margin-top: 35px;
        h4 {
          margin: 5px 5px 5px 0px;
        }

        h5 {
          margin: 5px 5px 5px 0px;
        }
      }
    }

    #modal-seats-description {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 60%;
      height: 100%;
      background: white;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;

      h5 {
        font-size: 24px;
        margin: 10px 10px 10px 10px;
      }

      p {
        margin: 10px 10px 10px 10px;
      }

      button {
        margin-left: 0px;
        border-radius: 6px;
        font-family: "Liberation sans";
        height: 30px;

        &:hover {
          background: slategrey;
        }
      }

      .exit {
        position: absolute;
        top: 0px;
        right: 15px;
        border-radius: 6px;
        width: 0px;
        border: none;
        background: none;
        &:hover{
          background: none;
        }
      }
    }
    #modal-seats-addCar {
      display: none;
      flex-direction: column;
      position: relative;
      width: 60%;
      margin-left: 10px;
      margin-right: 10px;
      background: white;

      .fa-asterisk {
        font-size: 0.5em;
        width: 10px;
      }
      /* width */

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Handle */

      &::-webkit-scrollbar-thumb {
        background: darkgrey;
        height: 20px;
      }

      /* Handle on hover */

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      h3 {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      p {
        padding: 0px;
        margin: 0px 0px 10px 0px;
        font-size: 14px;
      }

      label {
        margin-top: 5px;
        padding-top: 5px;
        width: 80%;
      }

      input {
        border-radius: 6px;
        padding: 8px;
        width: 80%;
        margin-left: 10px;
        margin-bottom: 20px;
      }

      input[type = submit] {
        width: 100px;
        font-family: "Liberation sans";

        &:hover {
          background: darkgrey;
        }
      }

      button {
        margin-left: 0px;
        border-radius: 6px;
        font-family: "Liberation sans";
        height: 30px;

        &:hover {
          background: slategrey;
        }
      }

      .exit {
        position: absolute;
        top: 0px;
        right: 15px;
        border-radius: 6px;
        width: 0px;
        border: none;
        background: none;
        &:hover{
          background: none;
        }
      }
    }
    #modal-seats-resSeat {
      display: none;
      flex-direction: column;
      position: relative;
      width: 60%;
      margin-left: 10px;
      margin-right: 10px;
      background: white;

      .fa-asterisk {
        font-size: 0.5em;
        width: 10px;
      }
      /* width */

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Handle */

      &::-webkit-scrollbar-thumb {
        background: darkgrey;
        height: 20px;
      }

      /* Handle on hover */

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      h3 {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      p {
        padding: 0px;
        margin: 0px 0px 10px 0px;
        font-size: 14px;
      }

      label {
        margin-top: 5px;
        padding-top: 5px;
        width: 80%;
      }

      input {
        border-radius: 6px;
        padding: 8px;
        width: 80%;
        margin-left: 10px;
        margin-bottom: 20px;
      }

      input[type = submit] {
        width: 100px;
        font-family: "Liberation sans";

        &:hover {
          background: darkgrey;
        }
      }

      button {
        margin-left: 0px;
        border-radius: 6px;
        font-family: "Liberation sans";
        height: 30px;

        &:hover {
          background: slategrey;
        }
      }

      .exit {
        position: absolute;
        top: 0px;
        right: 15px;
        border-radius: 6px;
        width: 0px;
        border: none;
        background: none;
        &:hover{
          background: none;
        }
      }
    }
  }
}