@white: #f1e8e8;
@black: black;
@brand: #660000;
@grey: #414141;

body {
  font-family: "Liberation sans";
  color: black;
  margin: 0px;
  background-color: @white;
  font-size: 18px;
}

.navBar {
  display: flex;
  position: relative;
  width: 100%;
  background-color: @brand;
  height: 60px;
  .links{
    position: absolute;
    right: 0;
    width: 275px;
    a{
      display: inline-flex;
      position: relative;
      top: 25px;
      padding: 0px;
      margin-right: 43px;
      list-style: none;
      text-decoration: none;
      color: white;
      font-weight: 700;
      height: 35%;
      &:hover {
        border-bottom: solid white 1px;
      }
    }
    .dropdown{
      display: unset;
      margin: 0;
      padding-bottom: 40px;
      height: 100%;
      z-index: 100;
    }
  }

  .dropdown-content{
    display: none;
    position: absolute;
    top: 60px;
    background: grey;
    border-radius: 5px;
    a{
      display: block;
      text-align: center;
      top: 0;
      margin: 7px 11px 11px 9px;
      padding: 0;
      border-bottom: solid @grey 1px;
      &:hover{
        border-bottom: solid white 1px;
        color: white;
      }
    }

  }

  .dropdown:hover > .dropdown-content{
    display: block;
  }

  .dropdown:hover > .dropdown-content a{
    cursor: pointer;
    border-bottom: solid 1px;
  }

  #login {
    top: 25px;
    color: white;
    text-decoration: none;
    height: 35%;
    &:hover {
      border-bottom: solid white 1px;
    }
  }
  #logout{
    top: 25px;
    color: white;
    text-decoration: none;
    height: 35%;
    &:hover {
      border-bottom: solid white 1px;
    }
  }

  img {
    margin-left: 10px;
    height: 100%;
  }

  #title {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    list-style: none;
    min-width: 248px;
    color: white;
    top: 10px;
    margin-left: 3px;
    margin-right: 40%;
    padding: 0px;
    font-size: 38px;
    font-weight: 400;
  }
}
