{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='clubPage.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block panel %}
<div class="club-panel">
    <div class="upcoming-events">
        <h3>Upcoming Events</h3>
        {% for event in events %}
        <div class="events">
            <div class="img"></div>
            <div class="profile-info">
                <h4>{{event['event_name']}}</h4>
                <h5>Date: {{event['event_date']}}</h5>
                <h5>Time: {{event['event_time']}}</h5>
                <h5>Location: {{event['event_location']}}</h5>
                <h5>Type: {{event['event_type']}}</h5>
                <p>{{event['event_description']}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="club-panel-info">
        <div class="club-profile-panel">
            <h3>{{info['club_name']}}</h3>
        </div>
        <div class="club-profile-info">
            <div class="about">
                <h4>Who are we?</h4>
                <p> {{info['about_info']}} </p>
            </div>
            <div class="specifics">
                <h4>Join Us!</h4>
                <ul>
                    <li>Meeting Days</li>
                    <li>Meeting Times</li>
                    <li>Meeting Place</li>
                </ul>
                <ul class="social-media"><a href="facebook.com"><i class="fa fa-facebook-official"
                                                                              aria-hidden="true"></i></a>
                    <a href="instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="google.com"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}