{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='clubPage.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block panel %}
<div class="club-panel">
    <div class="upcoming-events">
<!--  TODO: here is where we need to query the club's name for the title -->
        <h3>Club's Events</h3>
        <div class="events">
            <img />
            <div class="profile-info">
                <h4>Event Name</h4>
                <h5>Club Name</h5>
                <div class = "specific-info">
                    <h5>Date:</h5>
                    <h5>Time:</h5>
                </div>
                <h5>Location:</h5>
                <h5>Type:</h5>
                <p>this will be the about information for the event where they can add information</p>
            </div>
        </div>
        <div class="events">
            <img />
            <div class="profile-info">
                <h4>Event Name</h4>
                <div class = "specific-info">
                    <h5>Date:</h5>
                    <h5>Time:</h5>
                </div>
                <h5>Location:</h5>
                <h5>Type:</h5>
                <p>this will be the about information for the event where they can add information</p>
            </div>
        </div>
        <div class="events">
            <img />
            <div class="profile-info">
                <h4>Event Name</h4>
                <div class = "specific-info">
                    <h5>Date:</h5>
                    <h5>Time:</h5>
                </div>
                <h5>Location:</h5>
                <h5>Type:</h5>
                <p>this will be the about information for the event where they can add information</p>
            </div>
        </div>
        <div class="events">
            <img />
            <div class="profile-info">
                <h4>Event Name</h4>
                <div class = "specific-info">
                    <h5>Date:</h5>
                    <h5>Time:</h5>
                </div>
                <h5>Location:</h5>
                <h5>Type:</h5>
                <p>this will be the about information for the event where they can add information</p>
            </div>
        </div>
    </div>
    <div class="club-panel-info">
        <div class="club-profile-panel">
            <!-- TODO: QUERY CLUB NAME -->
            <h3>{{info['club_name']}}</h3>
        </div>
        <div class="club-profile-info">
            <!-- TODO: QUERY PROFILE INFO -->
            <div class="about">
                <h4>Who are we?</h4>
                <p> {{info['about_info']}} </p>
            </div>
            <div class="specifics">
                <!-- TODO: QUERY MEETING DAYS, TIMES AND PLACES -->
                <h4>Join Us!</h4>
                <ul>
                    <li>Meeting Days</li>
                    <li>Meeting Times</li>
                    <li>Meeting Place</li>
                </ul>
                <ul class="social-media"><a href="facebook.com"><i class="fa fa-facebook-official"
                                                                              aria-hidden="true"></i></a>
                    <!-- TODO: QUERY SOCIAL MEDIA LINKS -->
                    <a href="instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="google.com"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}