<!-- This is the create an account page in which users can initialize the essential information in order to make their clubs
a profile. This includes a number of fields which are then submitted in a form that will be pushed to the database. Again, this file
contains all fo the information from the navigation bar because it extends the layout.html with the navigation bar code. -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='create-account.less') }}" type="text/css" rel="stylesheet/less"/>
<script>
    function verify(email, password, confimPassword){
        const emailSplit = email.split("@");
        console.log(emailSplit[1]);
        if(password !== confimPassword){
            alert("passwords don't match please try again.");
            return false;
        }else if(emailSplit[1] !== "pugetsound.edu") {
            alert("email must be a valid University of Puget Sound address.");
            return false;
        }else{
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(re.test(email.toLowerCase()) == false){
                alert("email must be a valid University of Puget Sound address.")
            }else{
                return true;
            }
        }
    }
</script>
{% endblock %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block panel %}
<div class="login-panel">
    <h3>Create an Account</h3>
    <p>* indicates required field </p>
<!--    TODO: ADD FUNCTIONALITY OF ERROR CHECKING WITH PASSWORDS NOT MATCHING -->
    {% if message != "" %}
    <p id="message">{{message}}</p>
    {% endif %}
    <form action="/enterAccount" method="post">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="clubEmail">Club Email:</label><br>
<!--        club email is required-->
        <input type="email"
               id="clubEmail"
               name="clubEmail"
               placeholder="Club Email"><br>

        <!--     TODO: hook up club show email-->
        <input type="checkbox" id="clubShowEmail" name="club_email_display"
               checked>
        <label for="clubShowEmail">Display email on club profile</label><br>

        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="password">Password (must contain at least 8 characters):</label><br>
<!--        //password is required-->
        <input type="password"
               id="password"
               name="password"
               minlength="8"
               placeholder="Password"><br>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="cpassword">Confirm Password:</label><br>
<!--        //confirm password is required-->
        <input type="password"
               id="cpassword"
               name="cpassword"
               placeholder="Confirm Password"><br>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="club-name">Club Name:</label><br>
<!--        //club name is required-->
        <input type="text"
               id="club-name"
               name="club-name"
               placeholder="Club Name"><br>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="club-description">Club Description:</label><br>
<!--        //club description is required-->
        <input type="text"
               id="club-description"
               name="club-description"
               placeholder="What is your Club's mission?"><br>
        <input type="submit"
               value="Create Account"
            onclick="return verify(clubEmail.value, password.value, cpassword.value)"/>
    </form>
</div>
<body>

</body>
{% endblock %}