<!-- This is the create an account page in which users can initialize the essential information in order to make their clubs
a profile. This includes a number of fields which are then submitted in a form that will be pushed to the database. Again, this file
contains all fo the information from the navigation bar because it extends the layout.html with the navigation bar code. -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='create-account.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block panel %}
<div class="login-panel">
    <h3>Create an Account</h3>
    <form action="/enterAccount" method="post">
        <label for="clubEmail">Club Email:</label><br>
        <input type="text"
               id="clubEmail"
               name="clubEmail"
               placeholder="Club Email"><br>
        <label for="password">Password:</label><br>
        <input type="text"
               id="password"
               name="password"
               placeholder="Password"><br>
        <label for="cpassword">Confirm Password:</label><br>
        <input type="text"
               id="cpassword"
               name="cpassword"
               placeholder="Confirm Password"><br>
        <label for="club-name">Club Name:</label><br>
        <input type="text"
               id="club-name"
               name="club-name"
               placeholder="Club Name"><br>
        <label for="admin-name">Admin Name:</label><br>
        <input type="text"
               id="admin-name"
               name="admin-name"
               placeholder="Your Name"><br>
        <label for="admin-email">Admin Email:</label><br>
        <input type="text"
               id="admin-email"
               name="admin-email"
               placeholder="Your Email"><br>
        <label for="club-description">Club Description:</label><br>
        <input type="text"
               id="club-description"
               name="club-description"
               placeholder="What is your Club's mission?"><br>
        <button type="submit">Submit</button>
    </form>
</div>
<body>

</body>
{% endblock %}