<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="navBar.less" type="text/css" rel="stylesheet/less"/>
    <link href="../static/create-account.less" type="text/css" rel="stylesheet/less"/>
    <script src="less.js" type="text/javascript"></script>
    <title>Title</title>
</head>
<div class="navBar">
    <img src="0OdLUp3z.jpg"/>
    <li id="title"> ACTivism Hub</li>
    <div class="links">
        <a href="homePage.html"> Home </a>
        <div class="dropdown">
            <a id="clubs"> Clubs </a>
            <div class="dropdown-content">
                <a href="clubPage.html">MIBU</a>
                <a href="clubPage.html">BSU</a>
                <a href="clubPage.html">Advocates for Detained Voices</a>
                <a href="clubPage.html">LAHSO</a>
                <a href="clubPage.html">COMBS</a>
            </div>
        </div>
        <!--        <li><a> Resources </a></li>-->
        <a id="login" , href="login.html"> Login </a>
    </div>
</div>
<div class="login-panel">
    <h3>Create an Account</h3>
    <form>
        <label for="clubEmail">Club Email:</label><br>
        <input type="text"
               id="clubEmail"
               placeholder="club email"><br>
        <label for="password">Password:</label><br>
        <input type="text"
               id="password"
               placeholder="password"><br>
        <label for="cpassword">Confirm Password:</label><br>
        <input type="text"
               id="cpassword"
               placeholder="confirm password"><br>
        <label for="club-name">Club Name:</label><br>
        <input type="text"
               id="club-name"
               placeholder="Club Name"><br>
        <label for="admin-name">Admin Name:</label><br>
        <input type="text"
               id="admin-name"
               placeholder="Your Name"><br>
        <label for="admin-email">Admin Email:</label><br>
        <input type="text"
               id="admin-email"
               placeholder="Your Email"><br>
        <label for="club-description">Club Description:</label><br>
        <input type="text"
               id="club-description"
               placeholder="Club Description - what is your club's mission?"><br>

<!--        //to do: where do we want the code to go after the user creates an account-->
        <button type="button" onclick="alert('Creating an Account')">Create</button>
    </form>
</div>
<body>

</body>
</html>