<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="navBar.less" type="text/css" rel="stylesheet/less"/>
    <link href="../static/editClubPage.less" type="text/css" rel="stylesheet/less"/>
    <script src="less.js" type="text/javascript"></script>
    <title>Title</title>
</head>
<div class="navBar">
    <img src="0OdLUp3z.jpg"/>
    <li id="title"> ACTivism Hub</li>
    <div class="links">
        <a href="homePage.html"> Home </a>
        <div class="dropdown">
            <a id="clubs"> Clubs </a>
            <div class="dropdown-content">
                <a href="clubPage.html">MIBU</a>
                <a href="clubPage.html">BSU</a>
                <a href="clubPage.html">Advocates for Detained Voices</a>
                <a href="clubPage.html">LAHSO</a>
                <a href="clubPage.html">COMBS</a>
            </div>
        </div>
        <!--        <li><a> Resources </a></li>-->
        <a id="login" , href="login.html"> Login </a>
    </div>
</div>
<div class="login-panel">
    <h3>Edit Club Page</h3>
    <form>
        <label for="club-name">Club Name:</label><br>
        <input type="text"
               id="club-name"
               placeholder="club name"><br>
        <label for="profile-image">Profile Image:</label><br>
        <input type="text"
               id="profile-image"
               placeholder="profile image"><br>
        <label for="club-description">Club Description:</label><br>
        <input type="text"
               id="club-description"
               placeholder="Club Description - what is your club's mission?"><br>
        <label for="meeting-days">Meeting Day:</label><br>
        <input type="text"
               id="meeting-days"
               placeholder="meeting-days"><br>
        <label for="meeting-times">Meeting Time:</label><br>
        <input type="text"
               id="meeting-times"
               placeholder="meeting-times"><br>
        <label for="meeting-place">Meeting Place:</label><br>
        <input type="text"
               id="meeting-place"
               placeholder="meeting-place"><br>
        <label for="sm-facebook">Facebook:</label><br>
        <input type="text"
               id="sm-facebook"
               placeholder="facebook url"><br>
        <label for="sm-instagram">Instagram:</label><br>
        <input type="text"
               id="sm-instagram"
               placeholder="instagram url"><br>
        <label for="sm-twitter">Twitter:</label><br>
        <input type="text"
               id="sm-twitter"
               placeholder="twitter url"><br>
        <label for="sm-website">Website:</label><br>
        <input type="text"
               id="sm-website"
               placeholder="website url"><br>

        <!--        //to do: where do we want the code to go after the user creates an account-->
        <button type="button" onclick="alert('Saving Account Information')">Save</button>
    </form>
</div>
<body>

</body>
</html>