<!-- This is the create an account page in which users can initialize the essential information in order to make their clubs
a profile. This includes a number of fields which are then submitted in a form that will be pushed to the database. Again, this file
contains all fo the information from the navigation bar because it extends the layout.html with the navigation bar code. -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='login.less') }}" type="text/css" rel="stylesheet/less"/>
<script>
</script>
{% endblock %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block panel %}
<body>
    <div class="login-panel">
        <h3>Reset your password</h3>
        <form action="/preparePasswordReset" method="post">
            <p>Enter your club email to be sent a link to reset your password.</p>
            {% if message != "" %}
                <p id="error_message">{{message}}</p>
            {% endif %}
            <label for="club_email">Club Email:</label><br>
            <!--        //password is required-->
            <input type="text"
                   id="club_email"
                   name="club_email"
                   placeholder="Club Email"><br>

            <input type="submit"
                   value="Send Link"
                  />
        </form>
    </div>
</body>
{% endblock %}