{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='homePage.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block panel %}
<div class="homepage">
    <div class="txt-homepage">
        <h3>Our Mission</h3>
        <p>This website aims to elevate the voices of Puget Sound activism oriented clubs as well as provide them with a cohesive platform to share their
            events such as protests, sit ins and club meetings. Through event postings and club profiles, students will have
            access to event information such as times, places, resources and details in a centralized location.</p>
    </div>
</div>
<div class="upcoming-events">
    <h3>Upcoming Events</h3>
    <div class="events">
        <img />
        <div class="profile-info">
            <h4>Event Name</h4>
            <div class = "specific-info">
                <h5>Date:</h5>
                <h5>Time:</h5>
            </div>
            <h5>Location:</h5>
            <h5>Type:</h5>
            <p>this will be the about information for the event where they can add information</p>
        </div>
    </div>
    <div class="events">
        <img />
        <div class="profile-info">
            <h4>Event Name</h4>
            <div class = "specific-info">
                <h5>Date:</h5>
                <h5>Time:</h5>
            </div>
            <h5>Location:</h5>
            <h5>Type:</h5>
            <p>this will be the about information for the event where they can add information</p>
        </div>
    </div>
    <div class="events">
        <img />
        <div class="profile-info">
            <h4>Event Name</h4>
            <div class = "specific-info">
                <h5>Date:</h5>
                <h5>Time:</h5>
            </div>
            <h5>Location:</h5>
            <h5>Type:</h5>
            <p>this will be the about information for the event where they can add information</p>
        </div>
    </div>
    <div class="events">
        <img />
        <div class="profile-info">
            <h4>Event Name</h4>
            <div class = "specific-info">
                <h5>Date:</h5>
                <h5>Time:</h5>
            </div>
            <h5>Location:</h5>
            <h5>Type:</h5>
            <p>this will be the about information for the event where they can add information</p>
        </div>
    </div>
</div>
<body>

</body>
{% endblock %}
