<!-- This is the content/html for the home page. The navigation bar appears at the top because we are extending the layout.html
which contains the navBar.html and styling. From there we add the additional components for the homepage. The first part is the homepage
image which contains the text of our mission. The second half of the homepage is the Upcoming Events panel which queries and shows all of the
events that are coming up in the next week. -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='homePage.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block title %}
<title>Actvism Hub</title>
<script>
    function showRideShare(eventID){
        const modal = document.getElementById("ride-share-modal");
        document.getElementById("add-car").onclick=function(){ addCar(eventID); };
        modal.style.display = "block";
<!--        let description = document.getElementById("modal-seats-description");-->
<!--        let addCarForm = document.getElementById("modal-seats-addCar");-->
<!--        description.style.display = "flex";-->
<!--        addCarForm.style.display = "none";-->
    }

    function hideRideShare(){
        const modal = document.getElementById("ride-share-modal");
        modal.style.display = "none";
    }

    function addCar(eventID) {
        //reverse description panel
        //reverse add panel
        //hide reserve seat panel
        let description = document.getElementById("modal-seats-description");
        let addCar = document.getElementById("modal-seats-addCar");
        let resSeat = document.getElementById("modal-seats-resSeat");
        document.getElementById("addCar-eventID").value = eventID;

        if (window.getComputedStyle(addCar).display === "none") {
            description.style.display = "none";
            resSeat.style.display = "none";
            addCar.style.display = "inline-block";
        } else {
            addCar.style.display = "none";
            resSeat.style.display = "none";
            description.style.display = "flex";
        }
        //
        // if (window.getComputedStyle(addP).display === "flex") {
        //     addP.style.display = "none";
        // }
    }

    function reserveSeat() {
        //reverse description panel
        //reverse add panel
        //hide reserve seat panel
        let description = document.getElementById("modal-seats-description");
        let addCar = document.getElementById("modal-seats-addCar");
        let resSeat = document.getElementById("modal-seats-resSeat");

        if (window.getComputedStyle(resSeat).display === "none") {
            description.style.display = "none";
            addCar.style.display = "none";
            resSeat.style.display = "inline-block";
        } else {
            addCar.style.display = "none";
            resSeat.style.display = "none";
            description.style.display = "flex";
        }
    }

    function deleteCar() {
        window.confirm("Do you want to delete this car?");
        if (confirm) {
            //if the user clicks ok and therefore wants to delete the club
        } else {
            //otherwise the user clicked cancel and we should go back to club profile view by calling hideRideShare function
            console.log("keep car")
            hideRideShare();
        }
    }
</script>
{% endblock %}

{% block panel %}
<div class="homepage">
    <div class="txt-homepage">
        <h3>Our Mission</h3>
        <!-- ADMIN: RIGHT BELOW IS WHERE YOU CAN EDIT THE MISSION TEXT OF THE HOMEPAGE, on homePage.less is where you can edit the image -->
        <p>ACTivism Hub aims to elevate the voices of Puget Sound activism oriented clubs as well as provide them with a cohesive platform to share club programming. Through event postings and club profiles, students have access to event information such as times, places, resources and details
            in a centralized location.</p>
    </div>
</div>
<div class="upcoming-events">
    <h3>Upcoming Events</h3>
    {% for event in events %}
    <div class="events">
        {% if event['event_image']==None %}
            <img src = "../static/images/default_image.jpg" />
        {% else %}
            <img src = "../static/eventImages/{{event['event_image']}}" />
        {% endif %}
        <div class="profile-info">
            <h4>{{event['event_name']}}</h4>
            <h5>{{event['club_name']}}</h5>
            <div class = "specific-info">
                <h5><i class="fa fa-calendar" aria-hidden="true"></i>{{event['event_date_formatted']}}</h5>
                <h5><i class="fa fa-clock-o" aria-hidden="true"></i>{{event['start_time_formatted']}}-{{event['end_time_formatted']}}</h5>
            </div>

            <div class="location-info">
                <h5><i class="fa fa-map-pin" aria-hidden="true"></i>{{event['event_location']}}</h5>
                <button id="ride-share" onclick="showRideShare({{event['eventID']}})"><i class="fa fa-car" aria-hidden="true"></i> Rideshare </button>
            </div>
            {% if event['event_type'] != None %}
                <h5>{{event['event_type']}}</h5>
            {% endif %}
            <p>{{event['event_description']}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div id="ride-share-modal">
    <div class="modal-content">
        <div class="modal-cars">
            <div class="car-title">
                <h3>Cars</h3>
                <button id="add-car" ><i class="fa fa-car" aria-hidden="true"></i> Add Car </button>
            </div>

            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button onclick="reserveSeat()"><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button onclick="deleteCar()"><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>
            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>
            <div class="cars">
            <div class="seat-title">
                <h4> Car #1 </h4>
                <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
            </div>
            <h5> Driver: Name </h5>
            <h5> Seats Available: 8 </h5>
        </div>
            <div class="cars">
            <div class="seat-title">
                <h4> Car #1 </h4>
                <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
            </div>
            <h5> Driver: Name </h5>
            <h5> Seats Available: 8 </h5>
        </div>
            <div class="cars">
            <div class="seat-title">
                <h4> Car #1 </h4>
                <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
            </div>
            <h5> Driver: Name </h5>
            <h5> Seats Available: 8 </h5>
        </div>
            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>
            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>
            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>
            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>
            <div class="cars">
                <div class="seat-title">
                    <h4> Car #1 </h4>
                    <button><i class="fa fa-car" aria-hidden="true"></i> Reserve Seat </button>
                    <button><i class="fa fa-times-circle" aria-hidden="true"></i> Delete Car </button>
                </div>
                <h5> Driver: Name </h5>
                <h5> Seats Available: 8 </h5>
            </div>

        </div>
        <div id="modal-seats-description">
            <button class="exit" onclick=hideRideShare()><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            <h5> Ride Sharing </h5>
            <p> This is a rideshare description. This is a rideshare description. This is a rideshare description. This is a rideshare description. This is a rideshare description. This is a rideshare description. This is a rideshare description.
                This is a rideshare description. This is a rideshare description. This is a rideshare description. This is a rideshare description.
                This is a rideshare description. This is a rideshare description. This is a rideshare description. This is a rideshare description.</p>
        </div>
        <div id="modal-seats-addCar">
            <button class="exit" onclick=hideRideShare()><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            <h3>Add Car</h3>
            <p>* indicates required field </p>
            <form action="/addCar" method="post">

                <i class="fa fa-asterisk" aria-hidden="true"></i>
                <label for="driver_name">Driver's Name:</label><br>
                <input type="text"
                       id="driver_name"
                       placeholder="Driver's Name"
                       maxLength="255"
                       name = "driver_name"
                       required ><br>


                <i class="fa fa-asterisk" aria-hidden="true"></i>
                <label for="driver_email">Driver's Email:</label><br>
                <input type="text"
                       id="driver_email"
                       placeholder="Driver's Email"
                       maxLength="255"
                       name = "driver_email"
                       required ><br>

                <i class="fa fa-asterisk" aria-hidden="true"></i>
                <label for="num_seats">Number of Seats:</label><br>
                <input type="number"
                       id="num_seats"
                       name="num_seats_total"
                       required ><br>

                <i class="fa fa-asterisk" aria-hidden="true"></i>
                <label for="depart_time">Depart Time:</label><br>
                <input type="time"
                       id="depart_time"
                       name="depart_time"
                       required ><br>

                <i class="fa fa-asterisk" aria-hidden="true"></i>
                <label for="return_time">Return Time:</label><br>
                <input type="time"
                       id="return_time"
                       name="return_time"
                       required ><br>

                <i class="fa fa-asterisk" aria-hidden="true"></i>
                <label for="meeting_location">Meeting Location:</label><br>
                <input type="text"
                       id="meeting_location"
                       name="meeting_location"
                       required ><br>

                <input type="hidden" name="eventID" id="addCar-eventID">

                <input type="submit"
                       value="Add Car"/>
            </form>
        </div>
        <div id="modal-seats-resSeat">
            <button class="exit" onclick=hideRideShare()><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            <h3>Reserve a Seat</h3>
            <p>* indicates required field </p>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <label for="passenger_name">Passenger's Name:</label><br>
            <input type="text"
                   id="passenger_name"
                   placeholder="Passenger's Name"
                   maxLength="255"
                   required ><br>

            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <label for="passenger_email">Passenger's Name:</label><br>
            <input type="text"
                   id="passenger_email"
                   placeholder="Passenger's Email"
                   maxLength="255"
                   required ><br>

            <input type="submit"
                   value="Reserve Seat"/>
        </div>
    </div>
</div>
<body>

</body>
{% endblock %}
