<!-- This is the content/html for the home page. The navigation bar appears at the top because we are extending the layout.html
which contains the navBar.html and styling. From there we add the additional components for the homepage. The first part is the homepage
image which contains the text of our mission. The second half of the homepage is the Upcoming Events panel which queries and shows all of the
events that are coming up in the next week. -->
{% extends "layout.html" %}

{% block css_file %}
<link
		href="{{ url_for('static', filename='homePage.less') }}"
		type="text/css"
		rel="stylesheet/less"/>{% endblock %}

{% block title %}
<title>Actvism Hub</title>
<script>

	function verify( email ) {
		const emailSplit = email.split( "@" );
		if( emailSplit[ 1 ] !== "pugetsound.edu" ) {
			alert( "email must be a valid University of Puget Sound address." );
			return false;
		} else {
			const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			if( re.test( email.toLowerCase() ) == false ) {
				alert( "email must be a valid University of Puget Sound address." );
			} else {
				return true;
			}
		}
	}

	function showRideShare( eventID, cars ) {
		const txtHome = document.getElementById("txt-homepage");
		txtHome.style.display = "none";
		const modal = document.getElementById( "ride-share-modal" );
		document.getElementById( "add-car" ).onclick = function() {
			addCar( eventID );
		};
		document.getElementById( "request-car" ).onclick = function() {
			requestCar( eventID );
		};
		let allCars = document.getElementsByClassName( "cars" );
		for( let i = 0; i < allCars.length; i++ ) {
			while( allCars[ i ] ) {
				allCars[ i ].remove();
			}
		}
		modal.style.display = "block";
		cars.forEach( carFcn );
	}

	function carFcn( car, index) {
		let div1 = document.createElement( "div" );
		div1.className = "cars";
		let div2 = document.createElement( "div" );
		div2.className = "seat-title";
		let h4 = document.createElement( "h4" );
		var i = index + 1;	// variable to display car index
		h4.innerHTML = "Car " + i;
		div2.appendChild( h4 );
		if( car.num_seats_available > 0 ) {
			let reserveSeatButton = document.createElement( "button" );
			reserveSeatButton.id = "reserve-seat";
			reserveSeatButton.onclick = function() {
				if( car.num_seats_available > 0 ) {
					reserveSeat( car.carID );
				} else {
					alert( "There are no seats available in this car. Please select a different car or request a car by pressing the 'Request Car' button" );
				}
			};
			reserveSeatButton.innerHTML = "Save Seat";
			div2.appendChild( reserveSeatButton );
		}
		let deleteCarButton = document.createElement( "button" );
		deleteCarButton.id = "delete-car";
		deleteCarButton.onclick = function() { deleteCar( car.carID ); };
		let i2 = document.createElement( "i" );
		i2.className = "fa fa-times-circle";
		deleteCarButton.appendChild( i2 );
		deleteCarButton.innerHTML = "Delete";
		div2.appendChild( deleteCarButton );
		div1.appendChild( div2 );
		let editCarButton = document.createElement( "button" );
		editCarButton.id = "edit-car";
		editCarButton.onclick = function() { editCar( car.eventID, car ); };
		editCarButton.appendChild( i2 );
		editCarButton.innerHTML = "Edit";
		div2.appendChild( editCarButton );
		div1.appendChild( div2 );
		let div3 = document.createElement( "div" );
		div3.className = "car-logistics";
		let h5 = document.createElement( "h5" );
		h5.innerHTML = "Driver: " + car.driver_name;
		div3.appendChild( h5 );
		let h6 = document.createElement( "h5" );
		h6.innerHTML = "Seats Available: " + car.num_seats_available;
		div3.appendChild( h6 );
		let hPass = document.createElement( "h5" );
		hPass.innerHTML = "Current Passengers:";
		if( car.passengers.length === 0 ) {
			hPass.innerHTML += " none";
		} else {
			for( i = 0; i < car.passengers.length; i++ ) {
				if( car.passengers.length === 1 ) {
					hPass.innerHTML += " " + car.passengers[ i ].passenger_name;
				} else {
					if( i === car.passengers.length - 1 ) {
						hPass.innerHTML += " " + car.passengers[ i ].passenger_name;
					} else {
						hPass.innerHTML += " " + car.passengers[ i ].passenger_name + ",";
					}
				}
			}
		}
		div3.append( hPass );
		let h7 = document.createElement( "h5" );
		h7.innerHTML = "Depart Time: " + car.depart_time_formatted;
		div3.append( h7 );
		let h72 = document.createElement( "h5" );
		h72.innerHTML = "Return Time: " + car.return_time_formatted;
		div3.append( h72 );
		let h73 = document.createElement( "h5" );
		h73.innerHTML = "Meeting Location: " + car.meeting_location;
		div3.append( h73 );
		div1.appendChild( div3 );
		document.getElementById( "modal-cars" ).appendChild( div1 );
	}

	function hideRideShare() {
		let description = document.getElementById( "modal-seats-description" );
		let addCar = document.getElementById( "modal-seats-addCar" );
		let resSeat = document.getElementById( "modal-seats-resSeat" );
		let editCar = document.getElementById( "modal-seats-editCar" );
		let txtHome = document.getElementById("txt-homepage");
		addCar.style.display = "none";
		resSeat.style.display = "none";
		editCar.style.display = "none";
		description.style.display = "flex";
		txtHome.style.display = "flex"

		const modal = document.getElementById( "ride-share-modal" );
		modal.style.display = "none";
	}

	function addCar( eventID ) {
		let description = document.getElementById( "modal-seats-description" );
		let addCar = document.getElementById( "modal-seats-addCar" );
		let resSeat = document.getElementById( "modal-seats-resSeat" );
		let editCar = document.getElementById( "modal-seats-editCar" );
		document.getElementById( "addCar-eventID" ).value = eventID;

		if( window.getComputedStyle( addCar ).display === "none" ) {
			description.style.display = "none";
			resSeat.style.display = "none";
			editCar.style.display = "none";
			addCar.style.display = "inline-block";
		} else {
			addCar.style.display = "none";
			resSeat.style.display = "none";
			editCar.style.display = "none";
			description.style.display = "flex";
		}
	}

	function reserveSeat( carID ) {
		let description = document.getElementById( "modal-seats-description" );
		let addCar = document.getElementById( "modal-seats-addCar" );
		let resSeat = document.getElementById( "modal-seats-resSeat" );
		let editCar = document.getElementById( "modal-seats-editCar" );
		document.getElementById( "reserveSeat-carID" ).value = carID;
		if( window.getComputedStyle( resSeat ).display === "none" ) {
			description.style.display = "none";
			addCar.style.display = "none";
			editCar.style.display = "none";
			resSeat.style.display = "inline-block";
		} else {
			addCar.style.display = "none";
			resSeat.style.display = "none";
			editCar.style.display = "none";
			description.style.display = "flex";
		}
	}

	function deleteCar( carID ) {
		let response = window.confirm( "Do you want to delete this car?" );
		if( response === true ) {
			//if the user clicks ok and therefore wants to delete the car
			location.href = '/deleteCar?id=' + carID;
		} else {
			//otherwise the user clicked cancel and we should go back to club profile view by calling hideRideShare function
			hideRideShare();
		}
	}

	function requestCar( eventID ) {
		let response = window.confirm( "Do you want to request a car for this event?" );
		if( response === true ) {
			//if the user clicks ok and therefore wants to request the car
			location.href = '/requestCar?id=' + eventID;
		} else {
			//otherwise the user clicked cancel and we should go back to club profile view by calling hideRideShare function
			hideRideShare();
		}
	}

	function editCar( eventID, car ){
		let description = document.getElementById( "modal-seats-description" );
		let addCar = document.getElementById( "modal-seats-addCar" );
		let resSeat = document.getElementById( "modal-seats-resSeat" );
		let editCar = document.getElementById( "modal-seats-editCar" );
		document.getElementById( "editCar-eventID" ).value = eventID;

		if( window.getComputedStyle( editCar ).display === "none" ) {
			description.style.display = "none";
			resSeat.style.display = "none";
			addCar.style.display = "none";
			editCar.style.display = "inline-block"
		} else {
			addCar.style.display = "none";
			resSeat.style.display = "none";
			editCar.style.display = "none"
			description.style.display = "flex";
		}
		let editModal = document.getElementById("passengersDel");
		editModal.innerHTML = '';
		let editDriverName = document.getElementById("edit-driver_name");
		editDriverName.value = car.driver_name;
		let editDriverEmail = document.getElementById("edit-driver_email");
		editDriverEmail.value = car.driver_email;
		let editNumSeats = document.getElementById("edit-num_seats");
		editNumSeats.value = car.num_seats_total;
		let editPass = document.createElement("div");
		editPass.className = "edit-pass";
		let hPass = document.createElement( "label" );
		hPass.innerHTML = "Passengers:\n";
		hPass.className = "delete-passenger";
		editPass.append(hPass);
		editModal.append(hPass);
		if( car.passengers.length === 0 ) {
			hPass.innerHTML += ' reserve a seat by clicking the save seat button <br />';
			let breaker = document.createElement("br");
			hPass.append(breaker);
		} else {
			for( i = 0; i < car.passengers.length; i++ ) {
				let passDiv = document.createElement("div");
				let labelInput = document.createElement("label");
				labelInput.innerHTML = [i+1] + ": ";
				let passInput = document.createElement("input");
				passInput.value = car.passengers[ i ].passenger_name;
				passInput.readOnly = true;
				let deletePass = document.createElement( "button" );
				deletePass.id = "delete-pass";
				let passengerID = car.passengers[i].passengerID;
				deletePass.onclick = function() { deletePassenger( passengerID ) };
				deletePass.innerHTML = "Delete";
				//passDiv.append(deletePass);
				let breaker = document.createElement("br");
				passDiv.append(labelInput);
				passDiv.append(passInput);
				passDiv.append(deletePass);
				passDiv.append(breaker);
				editPass.append(passDiv);
			}
		}
		editModal.append(editPass);
		let departTime;
		if(car.depart_time.split(":")[0] < 10){
			departTime = "0" + car.depart_time;
		}else{
			departTime = car.depart_time;
		}
		let returnTime;
		if(car.return_time.split(":")[0] < 10){
			returnTime = "0" + car.return_time;
		}else{
			returnTime = car.return_time;
		}
		let editDepartTime = document.getElementById("edit-depart_time");
		editDepartTime.value = departTime;
		let editReturnTime = document.getElementById("edit-return_time");
		editReturnTime.value = returnTime;
		let editMeetLoca = document.getElementById("edit-meeting_location");
		editMeetLoca.value = car.meeting_location;
	}

	function deletePassenger( passengerID ){
		let response = window.confirm( "Do you want to delete this passenger?");
		if( response === true ) {
			//if the user clicks ok and therefore wants to delete the passenger
			location.href = '/deletePassenger?id=' + eventID;
		} else {
			//otherwise the user clicked cancel and we should go back to club profile view by calling hideRideShare function
			hideRideShare();
		}
	}

	function displayMessage( message ) {
		if( message != "" ) {
			window.alert( message );
		}
	}

</script>{% endblock %}

{% block panel %}
<body onload="displayMessage('{{message}}')">
<div class="slideshow-container">
	<div id="txt-homepage">
		<h3>Our Mission</h3>
		<p>ACTivism Hub aims to elevate the voices of Puget Sound activism oriented clubs as well as provide them with a cohesive platform to share club programming. Through event postings and club
			profiles, students have access to event information such as times, places, resources and details in a centralized location.
		</p>
	</div>
	<div class="mySlides fade">
		<img
				src="../static/images/DSC_0586-background3.jpeg"
				style="width:100%">
	</div>
	<div class="mySlides fade">
		<img
				src="../static/images/BSUMarch_0256 (2).jpg"
				style="width:100%">
	</div>
	<div class="mySlides fade">
		<img
				src="../static/images/DSC_0584Crop.jpeg"
				style="width:100%">
	</div>
</div>
<br>
<div class="upcoming-events">
	<h3>Upcoming Events</h3>
	{% for event in events %}
	<div class="events">
		{% if event['event_image']==None %}
		<img src="../static/images/default_image.jpg"/>
		{% else %}
		<img src="../static/eventImages/{{event['event_image']}}"/>
		{% endif %}
		<div class="profile-info">
			<h4>{{event['event_name']}}</h4>
			<h5>{{event['club_name']}}</h5>
			<div class="specific-info">
				<h5>
					<i
							class="fa fa-calendar"
							aria-hidden="true"></i>
					{{event['event_date_formatted']}}
				</h5>
				<h5>
					<i
							class="fa fa-clock-o"
							aria-hidden="true"></i>
					{{event['start_time_formatted']}}-{{event['end_time_formatted']}}
				</h5>
			</div>

			<div class="location-info">
				<h5>
					<i
							class="fa fa-map-pin"
							aria-hidden="true"></i>
					{{event['event_location']}}
				</h5>
				<button
						id="ride-share"
						onclick="showRideShare({{event['eventID']}},{{event['cars']}})">
					<i
							class="fa fa-car"
							aria-hidden="true"></i>
					Rideshare
				</button>
			</div>
			{% if event['event_type'] != None %}
			<h5>{{event['event_type']}}</h5>
			{% endif %}
			<p>{{event['event_description']}}</p>
		</div>
	</div>
	{% endfor %}
</div>
<div id="ride-share-modal">
	<div class="modal-content">
		<div
				class="modal-cars"
				id="modal-cars">
			<div class="car-title">
				<h3>Cars</h3>
				<button id="add-car">
					<i
							class="fa fa-car"
							aria-hidden="true"></i>
					Add Car
				</button>
				<button
						id="request-car">
					<i
							class="fa fa-car"
							aria-hidden="true"></i>
					Request Car
				</button>
			</div>
		</div>
		<div id="modal-seats-description">
			<button
					class="exit"
					onclick=hideRideShare()>
				<i
						class="fa fa-times-circle fa-lg"
						aria-hidden="true"></i>
			</button>
			<h5> Rideshare</h5>
			<p> Welcome to Ridesharing on the ACTivism Hub! Here you can grab a seat in a car or add your car to provide rides to others. If you need a ride,
				take an available seat in any car! If you’re
				driving to this event and have available seats, add your car to give others a ride! Please note that your name will be displayed on the website
				if you are a driver or a passenger.
			</p>
		</div>
		<div id="modal-seats-addCar">
			<button
					class="exit"
					onclick=hideRideShare()>
				<i
						class="fa fa-times-circle fa-lg"
						aria-hidden="true"></i>
			</button>
			<h3>Add Car</h3>
			<p>* indicates required field</p>
			<form
					action="/addCar"
					method="post">

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="driver_name">Driver's Name:</label>
				<br>
				<input
						type="text"
						id="driver_name"
						placeholder="Driver's Name"
						maxLength="255"
						name="driver_name"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="driver_email">Driver's Email:</label>
				<br>
				<input
						type="text"
						id="driver_email"
						placeholder="Driver's Email"
						maxLength="255"
						name="driver_email"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="num_seats">Number of Seats:</label>
				<br>
				<input
						type="number"
						id="num_seats"
						name="num_seats_total"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="depart_time">Depart Time:</label>
				<br>
				<input
						type="time"
						id="depart_time"
						name="depart_time"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="return_time">Return Time:</label>
				<br>
				<input
						type="time"
						id="return_time"
						name="return_time"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="meeting_location">Meeting Location:</label>
				<br>
				<input
						type="text"
						id="meeting_location"
						name="meeting_location"
						required>
				<br>

				<input
						type="hidden"
						name="eventID"
						id="addCar-eventID">

				<input
						type="submit"
						value="Add Car"
						onclick="return verify(driver_email.value)"/>
			</form>
		</div>
		<div id="modal-seats-resSeat">
			<button
					class="exit"
					onclick=hideRideShare()>
				<i
						class="fa fa-times-circle fa-lg"
						aria-hidden="true"></i>
			</button>
			<h3>Reserve a Seat</h3>
			<p>* indicates required field</p>
			<form
					action="/addPassenger"
					method="post">

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="passenger_name">Passenger's Name:</label>
				<br>
				<input
						type="text"
						id="passenger_name"
						name="passenger_name"
						placeholder="Passenger's Name"
						maxLength="255"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="passenger_email">Passenger's Email:</label>
				<br>
				<input
						type="text"
						id="passenger_email"
						name="passenger_email"
						placeholder="Passenger's Email"
						maxLength="255"
						required>
				<br>

				<input
						type="hidden"
						name="carID"
						id="reserveSeat-carID"/>

				<input
						type="submit"
						value="Reserve Seat"
						onclick="return verify(passenger_email.value)"/>
			</form>
		</div>
		<div id="modal-seats-editCar">
			<button
					class="exit"
					onclick=hideRideShare()>
				<i
						class="fa fa-times-circle fa-lg"
						aria-hidden="true"></i>
			</button>
			<input
					type="hidden"
					name="carID"
					id="editCar-eventID"/>
			<h3>Edit Car</h3>
			<p>* indicates required field</p>
			<form>
<!--					action="/addCar"-->
<!--					method="post">-->

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="driver_name">Driver's Name:</label>
				<br>
				<input
						type="text"
						id="edit-driver_name"
						placeholder="Driver's Name"
						maxLength="255"
						name="driver_name"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="driver_email">Driver's Email:</label>
				<br>
				<input
						type="text"
						id="edit-driver_email"
						placeholder="Driver's Email"
						maxLength="255"
						name="driver_email"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="num_seats">Number of Seats:</label>
				<br>
				<input
						type="number"
						id="edit-num_seats"
						name="num_seats_total"
						required>
				<br>

				<div id="passengersDel"></div>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="edit-depart_time">Depart Time:</label>
				<br>
				<input
						type="time"
						id="edit-depart_time"
						name="depart_time"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="edit-return_time">Return Time:</label>
				<br>
				<input
						type="time"
						id="edit-return_time"
						name="return_time"
						required>
				<br>

				<i
						class="fa fa-asterisk"
						aria-hidden="true"></i>
				<label for="edit-meeting_location">Meeting Location:</label>
				<br>
				<input
						type="text"
						id="edit-meeting_location"
						name="meeting_location"
						required>
				<br>

				<input
						type="submit"
						value="Edit Car"
						onclick="return verify(driver_email.value)"/>
			</form>
		</div>
	</div>
</div>
</body>
<script>
	let slideIndex = 0;
	showSlides();
	function showSlides() {
		let i;
		let slides = document.getElementsByClassName("mySlides");
		for(i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if(slideIndex > slides.length) {
			slideIndex = 1
		}
		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 4000); // Change image every 4 seconds
	}

</script>
{% endblock %}