<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='navBar.less') }}" />
    {% block css_file %} {% endblock %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
    <script src="{{ url_for('static', filename='less.js') }}"></script>
    <script>
        /* Javascript function that displays the website stats and allows you to change the admin. */
        function stats(){
            const modal = document.getElementById("admin-modal");
            modal.style.display = "block";
            const textHome = document.getElementById("txt-homepage");
            textHome.style.display = "none";
        }
        /* Javascript function that hides the website stats and admin forms. */
        function hideStats(){
            const modal = document.getElementById( "admin-modal" );
            modal.style.display = "none";
            const textHome = document.getElementById("txt-homepage");
            textHome.style.display = "flex";
        }

        function deleteOldEventsJS(){
            let response = window.confirm( "Do you want to delete all old events?");
            if( response === true ) {
                //if the user clicks ok and therefore wants to delete the passenger
                location.href = '/deleteOldEvents';
            } else {
                //otherwise the user clicked cancel and we should go back to club profile view by calling hideRideShare function
                hideStats();
            }
        }

        /* Shows the club dropdown menu, called when clubs heading is clicked in nav bar. */
        function show_dropdown_menu() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        /* Hides the club dropdown menu when the user clicks elsewhere. */
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    {% block title %} {% endblock %}
</head>

<div class="navBar">
    <img src="{{ url_for('static', filename='images/0OdLUp3z.jpg') }}"/>
    <li id="title"> ACTivism Hub</li>
    <div class="links">
        {% if 'admin_id' in session %}
        <a id="webstats" onclick="stats()"> Admin </a>
        {% endif %}
        <a href="/"> Home </a>
        <div class="dropdown">
            <a id="clubs" onclick="show_dropdown_menu()" class="dropbtn"> Clubs </a>
            <div id="myDropdown" class="dropdown-content">
                {% for club in clubs %}
                <a href="/clubPage?q={{club['clubID']}}">{{club['club_name']}}</a>
                {% endfor %}
            </div>
        </div>
        {% if 'club_id' in session or 'admin_id' in session %}
            <a id="logout" , href="/logout"> Logout </a>
        {% else %}
            <a id="login" , href="/login"> Login </a>
        {% endif %}
    </div>
</div>

<div id="admin-modal">
    <div class="admin-modal-content">
        <div class="modal-stats">
            <h5> Website Statistics </h5>
            <p> &emsp; Current Stats: <br>
                &emsp; &emsp; Current Total Clubs: {{stats['total_current_clubs']}}<br>
                &emsp; &emsp; Current Total Events: {{stats['total_current_events']}}<br>
                &emsp; &emsp; Current Total Cars: {{stats['total_current_cars']}}<br>
                &emsp; &emsp; Current Total Passengers: {{stats['total_current_passengers']}}<br>
            </p>
            <p> &emsp; Overall Stats:<br>
                &emsp; &emsp; Overall Total Clubs: {{stats['total_overall_clubs']}}<br>
                &emsp; &emsp; Overall Total Events:  {{stats['total_overall_events']}}<br>
                &emsp; &emsp; Overall Total Cars: {{stats['total_overall_cars']}}<br>
                &emsp; &emsp; Overall Total Passengers: {{stats['total_overall_passengers']}}
            </p>

            <h5> Delete Old Events </h5>
            <p id="deleteDes"> By clicking the button below, you clear all old events from the database. Please do this periodically so event data can continue to transfer smoothly.</p>
            <input
                   type="submit"
                   id="deleteEvents"
                   onclick = deleteOldEventsJS()
                   value="Delete"/>


        </div>
        <div id="modal-admin-description">
            <button
                    class="exit"
                    onclick=hideStats()>
                <i
                        class="fa fa-times-circle fa-lg"
                        aria-hidden="true"></i>
            </button>

            <h5> Change Admin </h5>
            <form action="/changeAdmin" method="post">
                <i class="fa fa-asterisk"
                   aria-hidden="true"></i>
                <label for="admin_name">Admin Name:</label>
                <br>
                <input
                        type="text"
                        id="admin_name"
                        name="admin_name"
                        value={{admin['web_admin_name']}}
                        placeholder="Admin Name"
                        maxLength="255"
                        required>

                <br>
                <i class="fa fa-asterisk"
                   aria-hidden="true"></i>
                <label for="admin_email">Admin Email:</label>
                <br>
                <input
                        type="text"
                        id="admin_email"
                        name = "admin_email"
                        value={{admin['web_admin_email']}}
                        placeholder="Admin Email"
                        maxLength="255"
                        required>

                <br>
                <input type="hidden" id="old_admin_email" name="old_admin_email" value={{admin['web_admin_email']}}>
                <input type="hidden" id="adminID" name="adminID" value="{{admin['web_adminID']}}">
                <input
                    type="submit"
                    value="Change Admin">
            </form>
        </div>
    </div>
</div>
{% block panel %} {% endblock %}

</html>