<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='navBar.less') }}" />
    {% block css_file %} {% endblock %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
    <script src="{{ url_for('static', filename='less.js') }}"></script>
    <script>
        /* Javascript function that displays the website stats and allows you to change the admin. */
        function stats(){
            const modal = document.getElementById("admin-modal");
            modal.style.display = "block";
            const textHome = document.getElementById("txt-homepage");
            textHome.style.display = "none";
        }
        /* Javascript function that hides the website stats and admin forms. */
        function hideStats(){
            const modal = document.getElementById( "admin-modal" );
            modal.style.display = "none";
            const textHome = document.getElementById("txt-homepage");
            textHome.style.display = "flex";
        }
    </script>
    {% block title %} {% endblock %}
</head>

<div class="navBar">
    <img src="{{ url_for('static', filename='images/0OdLUp3z.jpg') }}"/>
    <li id="title"> ACTivism Hub</li>
    <div class="links">
        <a id="webstats" onclick="stats()"> Admin </a>
        <a href="/"> Home </a>
        <div class="dropdown">
            <a id="clubs"> Clubs </a>
            <div class="dropdown-content">
                {% for club in clubs %}
                <a href="/clubPage?q={{club['clubID']}}">{{club['club_name']}}</a>
                {% endfor %}
            </div>
        </div>
        {% if 'club_id' in session %}
            <a id="logout" , href="/logout"> Logout </a>
        {% else %}
            <a id="login" , href="/login"> Login </a>
        {% endif %}
    </div>
</div>

<div id="admin-modal">
    <div class="modal-content">
        <div class="modal-stats" id="modal-cars">
            <h5> Website Statistics </h5>
        </div>
        <div id="modal-admin-description">
            <button
                    class="exit"
                    onclick=hideStats()>
                <i
                        class="fa fa-times-circle fa-lg"
                        aria-hidden="true"></i>
            </button>
            <h5> Edit Admin </h5>
        </div>
    </div>
</div>
{% block panel %} {% endblock %}

</html>