<!-- This is the login file where the basic functionality of the login feature is going to be implemented. This file again
inherits the content and the formatting of the navigation bar because it extends layout. It then moves on to take in the
email, and the password of the user in order to allow correct users to "LogIn" -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='login.less') }}" type="text/css" rel="stylesheet/less"/>
<script>
    /* Javascript function that when the button for clicked for create an account is clicked then the user will be rerouted to the
    * create account page. */
    function createAccount(){
        location.href = "/createAccount"
    }
    /* Javascript function that when the button for clicked for forgot password is clicked then the user will be rerouted to the
    * forgot password page. */
    function forgotPassword(){
        location.href="/forgotPassword";
    }
</script>
{% endblock %}

{% block title %}
<title>Actvism Hub</title>
{% endblock %}

{% block panel %}
<div class="login-panel">
    <h3>Login</h3>
    {% if message != "" %}
        <p>{{message}}</p>
    {% endif %}
    <form action="/doLogin" method="post">
        <label for="Email">Club Email:</label><br>
        <input type="email" id="Email" placeholder="Club Email" name="Email"><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="Password" placeholder="Password" name="Password"><br>
        <button type="submit">Login</button>
        <button type="button" id = "reset-password" onclick=forgotPassword()>Forgot Password?</button>
        <button type="button" id = "create-account" onclick=createAccount()>Create An Account</button>
    </form>
</div>
<body>

</body>
{% endblock %}