<!-- This is the login file where the basic functionality of the login feature is going to be implemented. This file again
inherits the content and the formatting of the navigation bar because it extends layout. It then moves on to take in the
email, and the password of the user in order to allow correct users to "LogIn" -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='login.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block title %}
<title>Actvism Hub</title>
{% endblock %}

{% block panel %}
<div class="login-panel">
    <h3>Login</h3>
    <form action="/doLogin" method="post">
        <label for="Email">Club Email:</label><br>
        <input type="text" id="Email" name="Email"><br>
        <label for="Password">Password:</label><br>
        <input type="text" id="Password" name="Password"><br>
        <button type="button" id = "create-account" onclick="href='templates/create-account.html'">Create An Account</button>
<!-- TODO: WHEN THE USER PRESSES SUBMIT - VERIFY LOGIN INFO -->
        <button type="submit">Submit</button>
    </form>
</div>
<body>

</body>
{% endblock %}