<!-- This is the create an account page in which users can initialize the essential information in order to make their clubs
a profile. This includes a number of fields which are then submitted in a form that will be pushed to the database. Again, this file
contains all fo the information from the navigation bar because it extends the layout.html with the navigation bar code. -->
{% extends "layout.html" %}

{% block css_file %}
<link href="{{ url_for('static', filename='create-account.less') }}" type="text/css" rel="stylesheet/less"/>
<script>
    /* Javascript Function that will verify the password when the password is reset. In order to reset
    * the password, the password typed into the first box needs to match that of the second one. */
    function verifyPassword(password, confimPassword){
        if(password !== confimPassword){
            alert("passwords don't match please try again.");
            return false;
        }else{
            return true;
        }
    }
</script>
{% endblock %}

{% block title %}
<title>ACTivism Hub</title>
{% endblock %}

{% block panel %}
<div class="login-panel">
    <h3>Reset your password</h3>
    <form action="/doPasswordReset" method="post">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="password">New Password:</label><br>
        <input type="password"
               id="password"
               name="password"
               placeholder="Password"><br>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <label for="cpassword">Confirm New Password:</label><br>
        <input type="password"
               id="cpassword"
               name="cpassword"
               placeholder="Confirm Password"><br>

        <input type="hidden" name="clubID" value={{clubID}} />

        <input type="submit"
               value="Reset Password"
               onclick="return verifyPassword(password.value, cpassword.value)"/>
    </form>
</div>
<body>

</body>
{% endblock %}